# exclude files without extension at top level
# (see https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign)
*
!/**/
!*.*
!Dockerfile

# VSCcode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Go test binary, built with `go test -c`
**/*.test

# Go binaries and packages
curltool
**/bin

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the comment below to include it)
# vendor/
